body{
	margin: 1px;
	min-width: 450px;/*Минимальная ширина */
}
.page-up button{
 position: fixed;
 bottom: 10%;
right: 5%;
height: 30px;
width: 30px;
border-radius: 100%;
border: 0;
background-color:white;

}
.page-up button a{
color:white;
text-decoration: none;
}



.main{
	display: flex;
	flex-wrap: wrap;   /**************/
}
.header{
	
	display: flex;
	width: 100%;
	height: 40px;
	background-color:rgb(147, 57, 163);
	justify-content: space-between;/*для выравнивания хедера*/

}

.header .logo{
	border: 1px solid rgb(47, 156, 47);
}
.header nav {
	width: 80%;
}
.header nav ul{
	width: 80%;
	display: flex;
	list-style: none; /*убрать кружочки*/
	border: 1px solid rgb(147, 57, 163);
	justify-content: space-evenly;
}
.header nav ul li{
	border: 1px solid rgb(147, 57, 163);
}

.content{
	display: flex;
	width: 100%;
	background-color: rgb(219, 252, 33);
}
.content .info {
	display: flex; /*установить flexbox*/
	flex-direction: column; /*направление флекса в колону*/
	align-items: center; /*выровнять колону по центру*/
	text-align: justify; /*выровнять текст с двух сторон*/
}
p{
	max-width: 60%; /*максимально возможная ширина*/
}
.img1{
	height: auto;
	width: 60%;
	max-width: 400px;
}

.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
	background-color: rgb(124, 214, 177);
}

.header nav ul li a{
	color: white;
	text-decoration: none;
}


.header nav ul li a:hover{
	color: white;
    font-size: 17px;
}



.footer .img-footer-logo{
width: 50px;
height: 50px;
}


.footer .footer-logo{
display: flex;
flex-direction: row;
width: 60%;
justify-content: space-evenly;

}


.footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    
    }
    

.txt
{
	color: white;
}


    
    