/* Красиво сверстать и расположить елементы */
.body{
    display: flex;
}
.p{
text-decoration: none;
}
input{
    width: 250px;
    height: 20px;
}
.HS {
    display: flex;
    border: 1px solid #000;
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin: 0 auto;
    width: 250px;
    height: 25px;
    justify-content: center;
}

.HS:hover {
    background: rgb(0, 0, 0);
    color: rgb(230, 238, 112);
}
.page-up button{
    position: fixed;
    bottom: 10%;
   right: 5%;
   height: 30px;
   width: 30px;
   border-radius: 100%;
   border: 0;
   background-color: rgb(255, 235, 51);
   
   }
.like{
    width: 50px;
    height: 20px;
}
.dizlike{
    width: 50px;
    height: 20px;
}
.HSO{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}


